#main {
    position: relative;
    top: 50vh;
    left: 50vw;

    transform: translate(-50%, -50%);

    text-align: center;

    width: 60vw;
}

button {
    width: 5vw;
    height: 5vw;
    border-width: 0;
    background-color: #619af0;
    transition: 0.1s;
}

button:hover {
    background-color: #619af0b2
}

p {
    font-size: 1.5vw;
}